/*
 * Estilos reutilizables
 */
 h1{	
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
}

a{
	color: whitesmoke;
 	text-decoration: none;
 	font-weight: bold;
}

a:hover{
 	color: #18BC9C;
}

/* padding */
.pt-50{
	padding-top: 50px;
}

.pb-100{
	padding-bottom: 100px;
}

/* uppercase */
.text-uppercase{
	text-transform: uppercase;
}

/* color */
.white{
	color: white;
}

.dark-blue{
	color: #2c3e50;
}

/* star icon */
.fa-star{
	width:30%;
	padding: 0;
	border: none;
	border-top: solid 5px;
	text-align: center;
	max-width: 250px;
}
.fa-star:after{
	content: "\f005";
	font-family: FontAwesome;
	display: inline-block;
	position: relative;
	top: -.6em;
	left: 0;
	font-size: 2em;
	padding: 0 .25em;
}
.maincontent .fa-star:after, #about .fa-star:after{
	background-color: #18BC9C;
}
#portfolio .fa-star:after, #contact .fa-star:after{
	background-color: white;
}
.fa-star:before{
	content: none !important; 
}

/* container */
.container{
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
}

/* grid */
.grid-container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* clearfix hack */ 
.row:before, .row:after{
	content: " ";
	display: table;
}
.row:after{
	clear: both;
}

/* column positioning*/
[class*="col-"]{
	min-height: 7px;
	padding: 12px; /* gutter */
	float: left;
}

/* column widths */
.col-1{
	width: 8.333333%;
}
.col-2{
	width: 16.666667%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.333333%;
}
.col-5{
	width: 41.666667%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.333333%;
}
.col-8{
	width: 66.666667%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.333333%;
}
.col-11{
	width: 91.666667%;
}
.col-12{
	width: 100%;
}
