/*
 * Estilos del proyecto
 */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	font-size: 16px;
}

/* *** Sections *** */

/* Navigation */
nav{
	background-color: #2c3e50;
	padding: 25px 0;
 	top: 0;
 	position: fixed;
	width: 100%;
	height: 15%;
	z-index: 1000;
}

.menu{
	padding-left: 100px;
	padding-right: 100px;
	overflow: auto;
	font-weight: 700;
}

.menu h1{
	font-size: 1.7em;
	margin: 0;
	float: left;
	padding: 20px 15px;
	height: 80px;
	line-height: 20px;
}

.menu-list{
	text-align: right;
	padding: 0 15px;
	margin-left: 400px;
}

.menu-list li{
	list-style: none;
	display: inline;
 }

.link{
	font-size: .9em;
	padding: 10px 15px;
	position: relative;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
}

 /* Header */
header{
	background-color: #18BC9C;
	width: 100%;
	text-align: center;
}

.maincontent{
	padding-top: 100px;
	margin-top: 92px;
}

.maincontent h1{
	font-size: 4em;
}

.maincontent span{
	font-size: 1.4em;
}

.maincontent img{
	width: 256px;
	margin: 0 auto 20px;
}

/* Portfolio Section*/
#portfolio .grid-container .row .col-4 img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#portfolio .grid-container .row .col-4 img:hover{
	opacity: 0.7;
	border: 10px solid #18BC9C;
}

/* About Section*/
#about{
	background-color: #18BC9C;
}

.col-margin-16{
	margin-left: 16.66666667%;
}

#about .grid-container .row .col-4 p{
	font-size: 20px;
	text-align: left;
}

.btn-about{
	background-color: #18BC9C;
	font-size: 20px;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
	margin: 0 40%;
}

.btn-about:hover{
	background-color: whitesmoke;
	color: #18BC9C;
}

/* Contact Section*/
.col-margin-20{
	margin-left: 20%;
}

.contact-form{
	color: #555;
	width: 100%;
	padding: 6px 12px;
}

.input-form-group{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding-bottom: .5em;
}

.input-form-group input{
	border: none;
	font-size: 1.2em;
	padding: 10px
}

.input-form-group input:focus {
  outline: none;
}

.btn-send{
	background-color: #18BC9C;
	color: white;
	font-size: 16px;
    font-weight: 700;
    border: 1px solid #18BC9C;
	border-radius: 5px;
	padding: 10px 16px;
	text-align: center;
	margin: 0;
	margin-left: 22%;
}

.btn-send:hover{
	background-color: #10806a;
}

/* Footer */
.footer-above{
	background-color: #2c3e50;
	top: 0;
	width: 100%;
	height: 30%;
	z-index: 1000;
	text-align: center;
	padding-left: 0;
}

footer p, footer h3{
	text-align: center;
}

.list-inline{
	padding-left: 0;
}

.list-inline li{
	list-style: none;
	display: inline;
}

.circle-icon{
    background: transparent;
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    text-align: center;
    vertical-align: middle;
}

.circle-icon:hover{
	background-color: whitesmoke;
}

.bootstrap-link{
	font-weight: 400;
}
.bootstrap-link:hover{
	text-decoration: underline;
}

.footer-below{
    background-color: #233140;
    font-size: 14px;
}
