/*
 * Estilos de tu proyecto
 */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 body{
 	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Lato', sans-serif;*/
	margin: 0 auto;
	font-size: 16px;
 }

 a{
 	color: whitesmoke;
 	text-decoration: none;
 	font-weight: bold;
 }

 a:hover{
 	color: #18BC9C;
 }

.fa-star{
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 0;
}
.fa-star:after{
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -.6em;
  font-size: 2em;
  padding: 0 .25em;
}
.fa-star:before{
  content: none;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* navigation */
nav{
	background-color: #2c3e50;
	color: whitesmoke;
 	top: 0;
 	position: fixed;
	width: 100%;
  height: 15%;
	z-index: 1000;
}

.menu{
  padding: 14px 70px;
  overflow: auto;
  font-weight: 700;
}

.menu h1{	
	margin: 0;
	float: left;
	padding: 40px 15px;
  height: 80px;
  line-height: 20px;
}

.menu-list{
  text-align: right;
  padding: 30px 15px;
  margin-left: 400px;
}

.menu-list li{
  list-style: none;
  display: inline;
 }

.link{
	position: relative;
	/*padding: 30px 10px;*/
	margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
}

 /* header */
header{
	background-color: #18BC9C;
 	color: whitesmoke;
	width: 100%;
	/*position: relative;
	top: 92px;*/
	text-align: center;
}

header .container{
	padding-top: 100px;
  padding-bottom: 50px;
}

#maincontent{
  margin-top: 92px;
}

#maincontent .fa-star{
  color: whitesmoke;
}
#maincontent .fa-star:after{
  background-color: #18BC9C;
}

/* portfolio */
#portfolio .grid-container .row .col-12 h1{
  color: #2c3e50;
  text-align: center;
  font-weight: 700;
} 
/*
#portfolio .grid-container .row .col-4 .caption{
  background: rgba(24,188,156,.9);
  opacity: 0;
}
#portfolio .grid-container .row .col-4 .caption .caption-content{
    position: relative;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff;
}
*/
#portfolio .grid-container .row .col-4 img{
  width: 100%;
  height: 100%;
  cursor: pointer;

}
#portfolio .grid-container .row .col-4 img:hover{
  opacity: 0.7;
  background-color: rgba(24,188,156,.9);
}

#portfolio .fa-star{
  color: #2c3e50;
}

#portfolio .fa-star:after{
  background-color: white;
}

#portfolio .grid-container .row .col-4{
 margin-top: 0;
}